*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}
.grid{
    display: grid;
}
.block{
    display: block;
}
img{
    height: 100px;
}
p{
    font-size: clamp(10px,9vw,20px);
    font-family: 'Cookie', cursive;
    font-family: 'Tilt Neon', sans-serif;
}

h1{
    font-size: clamp(20px, 9vw, 45px);
    font-family: 'Cookie', cursive;
    font-family: 'Tilt Neon', sans-serif;
    padding-right: 5px;
}
h2{
    font-size: clamp(17px, 9vw, 30px);
    font-family: 'Cookie', cursive;
    font-family: 'Tilt Neon', sans-serif;
}
li{
    list-style: none;
}

.margin-auto{
    margin: auto;
}
.width_auto{
    width: auto;
}

.uppcase{
    text-transform: uppercase;
}
.lowcase{
    text-transform: lowercase;
}

